{% extends 'leave_management/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="login-card">
        <h2>Forgot your password?</h2>
        <p>Enter your email address and we’ll send you a link to reset your password.</p>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-custom w-100">Send Reset Link</button>
        </form>
    </div>
</div>
{% endblock %}
